*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-text {
    text-align: center;
    padding: 40px 0;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.container-text h2 {
    color: #343a40;
    font-size: 2.5rem;
    font-weight: bold;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

/* card */
.card {
    max-width: 350px;
    margin: 0 auto;
}
.card-img-top {
    height: 180px;
    object-fit: cover;
}
.card-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.card-text {
    font-size: 0.9rem;
    line-height: 1.4;
}
.text-muted {
    font-size: 0.8rem;
}
.card-body {
    padding: 1rem;
}
.btn-read-more {
    font-size: 0.9rem;
    padding: 0.3rem 0.8rem;
}
.modal-body {
    white-space: pre-line;
}