*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-text {
    text-align: center;
    padding: 40px 0;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}
.container-text h3 {
    color: #6c757d;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.container-text h2 {
    color: #343a40;
    font-size: 2.5rem;
    font-weight: bold;
}